
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; 
    color: #eee; 
    overflow: hidden; 
    position: relative;
    background: radial-gradient(circle, #111 30%, #000 70%); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.background::before {
    content: '';
    position: absolute;
    width: 600px; 
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.3); 
}

.container {
    text-align: center;
    position: relative; 
}

h1 {
    font-size: 3rem;
    color: #eee; 
    margin-bottom: 0.5rem;
}

.info {
    font-size: 1rem;
    color: #ccc; 
}

body {
    cursor: default;
}
